<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="account_dao" class="simpleforum.dao.AccountDAO">
        <constructor-arg ref="jdbc_template"/>
    </bean>

    <bean id="topic_dao" class="simpleforum.dao.TopicDAO">
        <constructor-arg ref="jdbc_template"/>
    </bean>

    <bean id="record_dao" class="simpleforum.dao.RecordDAO">
        <constructor-arg ref="jdbc_template"/>
    </bean>

    <bean id="jdbc_template" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg ref="data_source"/>
    </bean>

    <bean id="data_source" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/simple_forum"/>
        <property name="username" value="user"/>
        <property name="password" value="password"/>
    </bean>

</beans>